body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0px;
  margin-bottom: 30px;
  text-align: center;
}
.main-content {
  background: #e8ecef;
  width: 750px;
  padding: 25px;
  margin: auto;
}

.main-content p {
  text-align: center;
}

button {
  padding: 10px 25px;
  /* margin-left: 300px; */
  color: white;
  border-radius: 3px;
  font-size: large;
}

.green-button {
  margin-bottom: 20px;
  background-color: #28a745;
  border-color: #28a745;
  border: 1px solid #28a745;
}

.blue-button {
  background-color: #0d6efd;
  border-color: #0d6efd;
  border: 1px solid #0d6efd;
}

.sub-content {
  width: 750px;
  margin: auto;
  padding: 25px;
  background: #f5f5f5;
}

.something {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.blue-button:hover {
  color: #fff;
  background-color: #025ce2;
  border-color: #0257d5;
}

.green-button:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}
